<!DOCTYPE html> 
<html>
    <head>
        <title>Simple ChatBot</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="message-box">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <span class="glyphicon glyphicon-comment"></span> 克里斯小幫手
                            <div class="btn-group pull-right">
                                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseOne" aria-expanded="true">
                            <div class="panel-body">
                                <ul class="chat" id="chat">
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="/Images/profile.jpg" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="msg_border msg-left">
                                                <span class="arrow_l_int arrow"></span>
                                                <span class="arrow_l_out arrow"></span>
                                                <p>您好，很高興為您服務。</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="input-message" type="text" class="form-control input-sm" placeholder="請輸入訊息..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat">送出</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .message-box {
            margin-top: 100px;
        }

        .btn-group {
            display: none;
        }

        .chat {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px; //border-bottom: 1px dotted #B3A9A9;
        }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.left .chat-body .text-muted {
            /* margin-left: 5px; */
            display: inherit;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
            text-align: right;
        }

        .chat li.right .chat-body .text-muted {
            margin-left: 5px;
            display: inherit;
        }

        .chat li .chat-body p {
            margin: 0;
            color: #777777;
            /* width: 70% */
        }



        .panel .slidedown .glyphicon,
        .chat .glyphicon {
            margin-right: 5px;
        }

        .panel-body {
            overflow-y: scroll;
            height: 500px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }

        .msg_border {
            display: inline-block;
            /* text-align: center; */
            position: relative;
            padding: 15px;
            border-radius: 10px;
        }

        .msg-right {
            background: #CDE1F7;
            margin-right: 15px;
        }

        .msg-left {
            background: #CDF7DA;
            margin-left: 15px;
        }

        .msg_border .arrow {
            width: 0px;
            height: 0px;
            border-width: 15px;
            border-style: solid;
            position: absolute;
        }

        /*箭頭右*/

        .msg_border .arrow_r_int {
            border-color: transparent transparent transparent #CDE1F7;
            top: 20%;
            right: -30px;
        }

        /*箭頭右-邊框*/

        .msg_border .arrow_r_out {
            border-color: transparent transparent transparent #CDE1F7;
            top: 20%;
            right: -29px;
        }

        /*箭頭左*/

        .msg_border .arrow_l_int {
            border-color: transparent #CDF7DA transparent transparent;
            top: 20%;
            left: -30px;
        }

        /*箭頭左-邊框*/

        .msg_border .arrow_l_out {
            border-color: transparent #CDF7DA transparent transparent;
            top: 20%;
            left: -29px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {

            function sendMessage() {
                var content = $('#input-message').val();

                if (content !== '') {
                    randerUserMessageHtml(content);
                    $('#input-message').val('');

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Send", "Message")",
                        data: { 'SendContent': content },
                        dataType: "json",
                        /*headers: {
                        },*/
                        success: function (result) {
                            console.log(result);
                            if (result.isSuccess) {
                                randerBotMessageHtml(result.message.ResponseContent)
                            } else {
                                alert('伺服器忙碌中，請稍後再試！');
                            }
                        },
                        error: function (result) {
                            alert('伺服器忙碌中，請稍後再試！');
                        }
                    });
                } else {
                    alert('請輸入訊息');
                }
            }

            function randerUserMessageHtml(message) {
                var html = '';
                html += '<li class="right clearfix">';
                html += '   <span class="chat-img pull-right">';
                html += '       <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />';
                html += '   </span>';
                html += '   <div class="chat-body clearfix">';
                html += '       <div class="msg_border msg-right"><span class="arrow_r_int arrow"></span><span class="arrow_r_out arrow"></span>';
                html += '           <p class="pull-right p-text">' + message + '</p>';
                html += '       </div>';
                html += '   </div>';
                html += '</li>';

                $('#chat').append(html);
            }

            function randerBotMessageHtml(message) {
                var html = '';
                html += '<li class="left clearfix">';
                html += '   <span class="chat-img pull-left">';
                html += '       <img src="/Images/profile.jpg" alt="User Avatar" class="img-circle" />';
                html += '   </span>';
                html += '   <div class="chat-body clearfix">';
                html += '       <div class="msg_border msg-left"><span class="arrow_l_int arrow"></span><span class="arrow_l_out arrow"></span>';
                html += '           <p>' + message + '</p>';
                html += '       </div>';
                html += '   </div>';
                html += '</li>';

                $('#chat').append(html);
            }

            $('#btn-chat').click(function () {
                sendMessage();
            });

            $('#input-message').keypress(function (e) {
                if (e.keyCode === 13) {
                    sendMessage();
                }
            });
        });
    </script>
</body>

</html>